<div class="titulo">LOS PROGRAMADORES MÁS GRANDES DE LA HISTORIA</div>

<div class="grid-parent">
  <div class="box box1">
    <div>
      <img src="assets/ada-tr.png" alt="imagen de ada lovelace" class="ada">
    </div>
    <div class="hover-content">
      <h2>Ada Lovelace</h2>
      <p>Considerada por muchos como la primera programadora de la historia,
        fue la creadora del primer algoritmo informático.
      </p>
    </div> 
  </div>
  <div class="box box2">
    <div>
      <img src="assets/alan-tr.png" alt="imagen de Alan Turing" class="alan">
    </div>
    <div class="hover-content">
      <h2>Alan Turing</h2>
      <p>Reconocido por su trabajo pionero en la teoría de la computación, 
        sentó las bases para el desarrollode la informática moderna.</p>
    </div>
  </div>
  <div class="box box3">
    <div>
      <img src="assets/hopper-tr.png" alt="imagen de Grace Hopper" class="hopper">
    </div>
    <div class="hover-content">
      <h2>Grace Hopper</h2>
      <p>Desarrolladora del primer compilador, contribuyó al desarrollo del 
        lenguaje COBOL.</p>
    </div>
  </div>
  <div class="box box4">
    <div>
      <img src="assets/linus-tr.png" alt="imagen de Linus Torvalds" class="linus">
    </div>
    <div class="hover-content">
      <h2>Linus Torvalds</h2>
      <p>Creador del sistema operativo Linux y del modelo de desarrollo
         colaborativo basado en software de código abierto.</p>
    </div>
  </div>

  <div class="box box5">
    <div>
      <img src="assets/tim_tr.png" alt="imagen de Tim Berners-Lee" class="tim">
    </div>
    <div class="hover-content">
      <h2>Tim Berners-Lee</h2>
      <p>Inventor de la World Wide Web (WWW) y creador del lenguaje HTML
         y el protocolo HTTP.</p>
    </div>
  </div>
  <div class="box box6">
    <div>
      <img src="assets/bjarne-tr.png" alt="imagen de Bjarne Stroustrup" class="bjarne">
    </div>
    <div class="hover-content">
      <h2>Bjarne Stroustrup</h2>
      <p> Diseñador del lenguaje de programación C++
      </p>
    </div>
  </div>
  <div class="box box7">
    <div>
      <img src="assets/guido.png" alt="imagen de Guido Van Rossum" class="guido">
    </div>
    <div class="hover-content">
      <h2>Guido van Rossum</h2>
      <p>Creador del lenguaje de programación Python.</p>
    </div>
  </div>
  <div class="box box8">
    <div>
      <img src="assets/margaret-tr.png" alt="imagen de Margaret Hamilton" class="margaret">
    </div>
    <div class="hover-content">
      <h2>Margaret Hamilton</h2>
      <p>Ingeniera de software que lideró el equipo de desarrollo 
        de software del proyecto Apollo de la NASA.</p>
    </div>
  </div>
</div>